<!-- About Section -->
<section id="about" class="content-section text-center">
    <div class="about-section">
        <div class="col-lg-8 col-lg-offset-2">
                <h2>About our project</h2>
                <p>
                    Our project aims to explore the evolution of horror movies as a reflection of societal fears and transformations. 
                    We believe that horror films are acting as the nightmares of society, allowing the audience to confront what scares 
                    them in a controlled, metaphorical space, and therefore offer a unique lens to examine collective fears. By analyzing 
                    horror themes across decades, we are looking at how shifting societal dynamics, such as technological advancements, 
                    cultural fears and moral concerns, manifest within this genre. Recent trends, like the rise of movies focused on AI, 
                    illustrate how horror adapts to contemporary issues, much as past horror movies reelected anxieties around religion, 
                    societal violence. This analysis aims to show how horror movies both respond to and shape societal fears and evolutions, 
                    ultimately offering insight into society's subconscious and its evolving concerns over time.
                </p>
                
                <a href="#Entry" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
</section>

<div class="section-divider"></div>