<!-- Historical Section -->
<section id="Collection" class="content-section text-center">
    <div class="Collection-section">
        <div class='container'>
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Movie Collection</h2>

                <div class="'row align-items-center">

                    <!-- FIG 1 -->
                    <div class="col-md-4 text-collection-1">
                        <p>
                            And now dear visitor, welcome to the piece where Dracula keeps his precious collection.
                             Maybe the most cherished room by my master.
                            Come take a brief look at his ever growing collection of movies. 
                        </p>
                    </div>


                    <div class="col-md-4">
                        <img src="img/country_proportion.png" class="img-responsive countries">
                    </div>

                    <div class="col-md-4">
                        <img src="img/frame3.png" class="img-responsive frame-countries">
                    </div>

                    <div class="col-md-4">
                        <img src="img/genre_appearance.png" class="img-responsive genres">
                    </div>

                    <div class="col-md-4">
                        <img src="img/frame5.png" class="img-responsive frame-genres">
                    </div>

                    <div class="col-md-4">
                        <img src="img/nbr_movies.png" class="img-responsive number">
                    </div>

                    <div class="col-md-4">
                        <img src="img/frame2.png" class="img-responsive frame-number">
                    </div>

                    <div class="col-md-4">
                        <img src="img/nan_actors_CMU.png" class="img-responsive actors_CMU">
                    </div>

                    <div class="col-md-4">
                        <img src="img/frame5.png" class="img-responsive frame-actors_CMU">
                    </div>

                    <div class="col-md-4">
                        <img src="img/nan_actors_horror.png" class="img-responsive actors_horror">
                    </div>

                    <div class="col-md-4">
                        <img src="img/frame4.png" class="img-responsive frame-actors_horror">
                    </div>          

                    <div class="col-md-4">
                        <img src="img/nan_CMU.png" class="img-responsive CMU">
                    </div>

                    <div class="col-md-4">
                        <img src="img/frame2.png" class="img-responsive frame-CMU">
                    </div>

                    <div class="col-md-4">
                        <img src="img/nan_horror.png" class="img-responsive horror">
                    </div>

                    <div class="col-md-4">
                        <img src="img/frame5.png" class="img-responsive frame-horror">
                    </div>
                    
                    
                    <!-- FIG 2 -->
                
                    <div class="col-md-4">
                        <img src="img/perso_gene.png" alt="Horror Frame" class="img-responsive persodracula1">
                    </div>

                    </div>

                    <div class="col-md-4">
                        <img src="img/dracula.png" alt="Horror Frame" class="img-responsive persodracula2">
                    </div>

                    <div class="col-md-12 textdracula12">
                        <p> As you may have noticed, Dracula's collection is a bit... old, and a lot of information 
                            has been lost over the decades. Fortunately, my master has very good relationships with 
                            his neighbors, as he likes to call them, who sometimes provide the missing information.
                             I heard him talk about a certain Mrs. IMDb or Sir Wikipedia. Collaboration is always the 
                             key!
                        </p>
                    </div>

                    <div class="col-md-12 textdracula1">
                        <p> 
                            Well now, dear visitor, we... Oh!! Isn't that my dear master over there, who is... already 
                            awake at this hour?? Oh oh, something is wrong...
                        </p>
                    </div>
        
                <!-- Bouton de scroll -->
                <div class="scroll-button-container_collection">
                    <a href="#End" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="section-divider"></div>