<!-- Contact Section -->
<section id="contact" class="content-section text-center">
    <div class="contact-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact</h2>

                    <p>
                        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </p>

                    <div class="col-md-4">
                        <img src="img/perso1.png" alt="Horror Frame" class="img-responsive persofinal1">
                    </div>

                    <div class="col-md-12 textfinal1">
                        <p>Valentine Delevaux 
                            <br>
                            Unlucky soul who got stuck in a doggy door in “Scream” (1996). Turns out, squeezing 
                            through tight spaces isn't always the best escape plan.      
                        </p>
                    </div>    

                    <div class="col-md-4">
                        <img src="img/perso2.png" alt="Horror Frame" class="img-responsive persofinal2">
                    </div>

                    <div class="col-md-12 textfinal2">
                        <p> Julie Le Tallec
                            <br>
                            Ended up as a pizza topping in “A Nightmare on Elm Street 4: The Dream Master” (1988).
                            Nothing like being served with extra cheese and eternal damnation. 
                        </p>
                    </div>    
                    
                    <div class="col-md-4">
                        <img src="img/perso3.png" alt="Horror Frame" class="img-responsive persofinal3">
                    </div>

                    <div class="col-md-12 textfinal3">
                        <p>Marco Lourenço Leitao
                            <br>
                            Got sucked into the pool filter in “The Final Destination” (2009). Who knew public 
                            pools were scarier than haunted mansions?
        
                        </p>
                    </div>    

                    <div class="col-md-4">
                        <img src="img/perso4.png" alt="Horror Frame" class="img-responsive persofinal4">
                    </div>

                    <div class="col-md-12 textfinal4">
                        <p> Valentine Casalta
                            <br>
                            Died devoured by their own bed in ”A Nightmare on Elm Street” (1984). Sleep 
                            tight—your mattress may have other plans.    
                        </p>
                    </div>    

                    <div class="col-md-4">
                        <img src="img/perso5.png" alt="Horror Frame" class="img-responsive persofinal5">
                    </div>

                    <div class="col-md-12 textfinal5">
                        <p>Elie Roth
                            <br>
                            Got skewered in the back by an ear of corn in “Sleepwalkers” (1992). Who
                            knew vegetables could be deadly? A true farm-to-fatality story.
            
                        </p>
                    </div>    
            </div>
        </div>
    </div>
</section>