<!-- End Section -->
<section id="End" class="content-section text-center">
    <div class="End-section">
        <div class="col-lg-8 col-lg-offset-2">
                <h2>Sorry dear visitor</h2>

                <div class="col-md-4">
                    <img src="img/tete_coupee.png" alt="Horror Frame" class="img-responsive persoend1">
                </div>
    
                <div class="col-md-12 textend1">
                    <p> Please excuse this abrupt... end to the visit, dear visitor. It seems that Dracula, 
                        perhaps already tired from his current movie-making, was really not in the mood to 
                        welcome people into his mansion! Oh, he told me I was not supposed to let anyone in 
                        on Sundays... I guess losing my head is a fair price for my mistake!
                    </p>
                </div>  

                <div class="col-md-12 textend2">
                    <p> I hope you learned a lot during this tour, and don't hesitate to come back in a few decades 
                        to see the evolution of horror movies from today! My master's new masterpiece, <strong>Dracula and 
                        the Eight-Headed Shark</strong>, will surely be the best movie of the century, and a new room dedicated
                         to this masterpiece may appear!
                        Have a good day, dear visitor.
                    </p>
                </div>  

        </div>
</section>

<div class="section-divider"></div>