<!-- Entry Section -->
<section id="Entry" class="content-section text-center">
    <div class="Entry-section">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Welcome dear visitor</h2>
            <div class="row align-items-center">

                <!-- Text Container 1 -->
                <div class="col-md-12 text_welcome1">
                    <p> Welcome, visitor. My name is Viktor, and I am the butler of this grand castle. 
                        You’ve come at an interesting time, as my master, Count Dracula, 
                        has turned part of his castle into a museum dedicated to horror movies.
                    </p>
                </div>

                <!-- Text Container 2 -->
                <div class="col-md-12 text_welcome2">
                    <p> Dracula, as you may know, is not just a legendary figure, but also an actor in 
                        the world of horror films. He has lived for centuries and has seen how both society 
                        and horror films have changed over time. He’s always been fascinated by how movies 
                        show our deepest fears and how those fears evolve with the world around us.
                    </p>
                </div>

                <!-- Text Container 3 -->
                <div class="col-md-12 text_welcome3">
                    <p> At the moment, Dracula is resting. He’s working hard on his next movie, *Dracula 
                        and the Eight-Headed Shark*. It’s keeping him very busy, as he prepares for his new role.
                    </p>
                </div>

                <!-- Text Container 4 -->
                <div class="col-md-12 text_welcome4">
                    <p> But enough about that. Please, follow me, and I will show you around the museum. It’s 
                        a place where you can learn about the history of horror films through Dracula’s eyes. 
                        It’s a strange and exciting world where the past and future of fear come together.
                    </p>
                </div>

                <!-- Text Container 5 -->
                <div class="col-md-12 text_welcome5">
                    <p> Come with me, and let me show you this fascinating collection.
                    </p>
                </div>

                <!-- Image of the character -->
                <div class="col-md-4">
                    <img src="img/perso.png" alt="Horror World" class="img-responsive perso_welcome">
                </div>

            </div>

            <!-- Scroll Button -->
            <div class="scroll-button-container_welcome">
                <a href="#World" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="section-divider"></div>