<!-- Historical Section -->
<section id="Historical" class="content-section text-center">
    <div class="Historical-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Hall of historical events</h2>

                <div class="col-md-12 texthistorical0">
                    <p> Ah, welcome, dear guest, to this grand tour of Dracula's most cherished abode. 
                        As you may know, my master, Dracula, has dedicated countless years—centuries, in 
                        fact—to the study of human fears and the evolution of horror films. His thirst for
                        knowledge is matched only by his thirst for blood. But let us not digress. Allow me 
                        to guide you through a <strong>few key moments in history that have most profoundly shaped 
                        the world of horror cinema.</strong> Master Dracula, with his unparalleled longevity, has
                        observed all these events with great interest.        
                    </p>
                </div>    

                <!-- Fig 1-->
                <div class="col-md-4">
                    <img src="img/plot_hist1.png" alt="Horror Frame" class="img-responsive plothistorical1">
                </div>

                <div class="col-md-4">
                    <img src="img/frame4.png" alt="Horror Frame" class="img-responsive framehistorical1">
                </div>

                <div class="col-md-4">
                    <img src="img/perso_droite.png" alt="Horror Frame" class="img-responsive persohistorical1">
                </div>

                <div class="col-md-12 texthistorical1">
                    <p>Allow me to begin with a rather unsettling topic: <strong>pandemic</strong>. As you see on the
                        graph here, there is one year that stands out: the <strong>swine flu pandemic in 2009</strong>.
                        It was the third major flu pandemic tied to the H1N1 virus, affecting up to 11% to 21% of the
                        global population. The outbreak’s sheer scale—a number Dracula himself finds quite respectable—was
                        indeed significant, with its p-value at <strong>5%</strong>. Similarly, the <strong>Russian 
                            flu pandemic of 1977</strong>, which primarily afflicted individuals under 25, also shows 
                            a significant impact at <strong>10%</strong>."
                        "My master was quite surprised, however, that the recent COVID-19 pandemic of 2020 did 
                            not yield higher significance in this study. After all, it is the second deadliest pandemic 
                            since 1960! But when Dracula dug deeper into the data—oh, how he enjoys his studies—he found 
                            that with a lower statistical threshold, such events become far more prominent. As for the 
                            deadliest pandemic, the <strong>HIV/AIDS pandemic</strong>, Dracula notes its absence from 
                            this plot. Its continuous spread over decades likely created subtle but recurring noise in 
                            the data. Even now, my master marvels at the persistent fear such unseen enemies provoke.
                        
                        
                    </p>
                </div>    
                

                <!-- Fig 2-->
                <div class="col-md-12 texthistorical2">
                    <p> Now, moving on, let us discuss something else that might send a chill down your spine: the 
                        <strong>petrol crises</strong>.     
                    </p>
                </div>    

                <div class="col-md-4">
                    <img src="img/plot_hist2.png" alt="Horror Frame" class="img-responsive plothistorical2">
                </div>

                <div class="col-md-4">
                    <img src="img/frame2.png" alt="Horror Frame" class="img-responsive framehistorical2">
                </div>

                <div class="col-md-4">
                    <img src="img/perso_cadre.png" alt="Horror Frame" class="img-responsive persohistorical2">
                </div>

                <div class="col-md-12 texthistorical22">
                    <p>Here, we observe how major petrol crises have rippled through the horror genre. The <strong>Gulf
                        War in 1990</strong> stands out as the most significant event, with its p-value at <strong>5%</strong>.
                        Dracula would remind you that this conflict saw Iraq invade Kuwait, sparking an oil supply
                        disruption and skyrocketing prices, events that bled into every corner of life, even entertainment.
                            At that time, the horror genre reflected this global unease, much to Dracula’s interest. 
                            The <strong>oil embargo of 1973</strong>, orchestrated by OAPEC during the Yom Kippur War, 
                            caused <strong>barrel prices to triple</strong>, an economic shock so profound it 
                            <strong>influenced the very words filmmakers used in their horror summaries</strong>. The
                            <strong>COVID 19 pandemic plummeted the demand for oil</strong> as lockdowns, travel restrictions, 
                            and business closures reduced economic activity worldwide, explaining the significance 
                            f this event.
                        My master would also have you note the <strong>global financial crisis of 2008</strong>, which,
                        combined with the petrol price crash in December of that year, resulted in the only event between 
                        1995 and 2020 during which the number of horror movies declined, being significant 
                        at <strong>10%</strong>. Dracula attributes this to reduced consumer spending and shifts
                        in audience behavior, a clear reminder that even he is not immune to the whims of mortal 
                        economies. Oh, the ironies!
                            
                    </p>
                </div>  

                <!-- Fig 3-->
                <div class="col-md-12 texthistorical3">
                    <p> Now, let us move on to something even more unnerving: the topic of <strong>communism</strong>.   
                    </p>
                </div>    

                <div class="col-md-4">
                    <img src="img/plot_hist3.png" alt="Horror Frame" class="img-responsive plothistorical3">
                </div>

                <div class="col-md-4">
                    <img src="img/frame5.png" alt="Horror Frame" class="img-responsive framehistorical3">
                </div>

                <div class="col-md-4">
                    <img src="img/perso_cadre.png" alt="Horror Frame" class="img-responsive persohistorical3">
                </div>

                <div class="col-md-12 texthistorical32">
                    <p> The <strong>fall of the Berlin Wall in 1989 marks the apex of this fear</strong>, showing 
                        the highest peak on our graph two years later, in 1991. Dracula has noted that this aligns 
                        with the minimum time required to produce a film after such an event. The data also shows 
                        a curious peak in 1995, which may reflect the lingering <strong>influence of the Soviet Union’s 
                            dissolution in 1991</strong>. My master was quite impressed by how fear of communism once 
                            dominated the minds of filmmakers, weaving its way into the lexical fields of horror cinema."
                        Since that zenith in 1991, the <strong>influence of communism on horror has slowly faded</strong>,
                        much like the shadow of an ancient foe vanquished by time. Dracula, ever the astute observer, 
                        sees this as evidence of <strong>capitalism’s growing dominance in shaping mortal fears</strong>.
                        Ah, how fleeting the terrors of men are compared to the centuries of fear inspired by my master!
                        
                    </p>
                </div>  

                <div class="col-md-12 texthistorical4">
                    <p> I hope these insights into history's influence on horror cinema have intrigued you, my dear guest. 
                        As for Dracula, he remains ever passionate in his study of fear, though I must warn you, his moods can be...
                        unsettling at times. Now, if you'll follow me, we shall continue the tour. And should you wish to 
                        delve deeper, Dracula’s library is always open.
                            
                    </p>
                </div>  


                <!-- Bouton de scroll -->
                <div class="scroll-button-container_historical">
                    <a href="#Collection" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>    
        </div>
    </div>
</section>

<div class="section-divider"></div>