<!-- Historical Section -->
<section id="Triggers" class="content-section text-center">
    <div class="Triggers-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>The hall of Fears</h2>


                <!-- Joke -->
                <div class="col-md-4">
                    <img src="img/porte.png" alt="Horror Frame" class="img-responsive porte">
                </div>

                <div class="col-md-4">
                    <img src="img/perso_gene.png" alt="Horror Frame" class="img-responsive persotriggers0">
                </div>

                <div class="col-md-12 texttriggers0">
                    <p> Now we are in the hall of all fears, an other beautiful piece of my master's collection.
                        Dracula uses this room to study how to scare people. As you may imagine, this evolves over the years, the public...
                        <br><br>
                        Here behind this door... Oh, it seems that it's the storage room, where we put the unprocessed data... I guess I forgot to close the door!
                        Please forget that and let's continue, shall we?
                    </p>
                </div>

        
                <div class="col-md-12 texttriggers00">
                    <p> First, here are some samples of our content's study collection. You can observe the proportion of
                        movies  <strong>AMONG THE HORROR MOVIES</strong> that contain a certain type of content. Interesting isn't it? 
                    </p>
                </div>

                <!-- List of contents in horror movies-->
                <div class="col-md-4">
                    <div class="graphtrigger1">
                        {% include /Plots/Triggers/Movies_with_someone_that_dies.html %}
                    </div>
                </div>    

                <div class="col-md-4">
                    <div class="graphtrigger2">
                        {% include /Plots/Triggers/Movies_with_a_kid_that_dies.html %}
                    </div>
                </div>    

                <div class="col-md-4">
                    <div class="graphtrigger3">
                        {% include /Plots/Triggers/Movies_with_jump_scares.html %}
                    </div>
                </div>    

                <div class="col-md-4">
                    <div class="graphtrigger4">
                        {% include /Plots/Triggers/Movies_with_religion.html %}
                    </div>
                </div>    

                <div class="col-md-4">
                    <div class="graphtrigger5">
                        {% include /Plots/Triggers/Movies_with_torture.html %}
                    </div>
                </div>    

                <div class="col-md-4">
                    <div class="graphtrigger6">
                        {% include /Plots/Triggers/Movies_with_a_sad_ending.html %}
                    </div>
                </div>    

                <div class="col-md-4">
                    <img src="img/perso_cadre.png" alt="Horror Frame" class="img-responsive persotriggers1">
                </div>

                <div class="col-md-12 texttriggers1">
                    <p> Have a look at this. Can you imagine ? 44.1% of the horror movies in Dracula's collection 
                        contain someone that dies! How sad... But not for my master, as he... well he is dead, in a sense. 
                        Still, for humans, <strong>death is concerning and seems to have a special role in horror.</strong>
                    </p>
                </div>

                <div class="col-md-12 texttriggers2">
                    <p> And if we look at kids, well 36.6% of the horror movies have a kid that dies!! Oh, even my master
                        would not like that.
                    </p>
                </div>

                <div class="col-md-12 texttriggers3">
                    <p> Oh this is interesting. Do you know jump scares? It's when something appear suddenly on the screen!
                        A very popular way to scare people, it seems. I remember myself, when I was still alive, bitting my 
                        tong a few times because of them!
                    </p>
                </div>

                <div class="col-md-12 texttriggers4">
                    <p> When you think about ghost movies... Do you picture the famous scene of exorcism? Well, interestingly,
                        religion is not so much present in horror movies! Maybe because <strong>religion is almost ONLY called for ghost stories.</strong>
                    </p>
                </div>

                <div class="col-md-12 texttriggers5">
                    <p> Look at this one now. 43.1% of the horror movies contain torture!? Why would people look at that?
                        Your species is so interesting for us. 
                    </p>
                </div>

                <div class="col-md-12 texttriggers6">
                    <p> Let's finish with this. Sad endings. Have you ever wonder why people go to the cinema? Do they want to 
                        escape for 1h from their life? Their problems? Or are they looking for adrenaline? Almost half of the horror movies
                        have a sad ending. How do people feel after watching something with a bad end?
                    </p>
                </div>

                <div class="col-md-4">
                    <img src="img/frame2.png" alt="Horror Frame" class="img-responsive frametriggers1">
                </div>

                <div class="col-md-4">
                    <img src="img/frame3.png" alt="Horror Frame" class="img-responsive frametriggers2">
                </div>

                <div class="col-md-4">
                    <img src="img/frame4.png" alt="Horror Frame" class="img-responsive frametriggers3">
                </div>

                <div class="col-md-4">
                    <img src="img/frame5.png" alt="Horror Frame" class="img-responsive frametriggers4">
                </div>

                <div class="col-md-4">
                    <img src="img/frame2.png" alt="Horror Frame" class="img-responsive frametriggers5">
                </div>

                <div class="col-md-4">
                    <img src="img/frame3.png" alt="Horror Frame" class="img-responsive frametriggers6">
                </div>

                <!-- Content entre films d'horreur et autres-->
                <div class="col-md-12 texttriggers7">
                    <p> Oh this gallery is very interesting. But, it was only a study of the horror movies! To really understand
                        why this genre is so special, we should <strong>compare the content of horror movies with the content of ALL the other
                        movies!</strong> Let's see some example of content difference.
                    </p>
                </div>

                <div class="col-md-4">
                    <div class="graphtrigger7">
                        {% include /Plots/Triggers/someone_dies.html %}
                    </div>
                </div>    

                <div class="col-md-4">
                    <div class="graphtrigger8">
                        {% include /Plots/Triggers/a_kid_dies.html %}
                    </div>
                </div>    

                <div class="col-md-4">
                    <div class="graphtrigger9">
                        {% include /Plots/Triggers/there_are_jump_scares.html %}
                    </div>
                </div>    

                <div class="col-md-4">
                    <div class="graphtrigger10">
                        {% include /Plots/Triggers/religion_is_discussed.html %}
                    </div>
                </div>    

                <div class="col-md-4">
                    <div class="graphtrigger11">
                        {% include /Plots/Triggers/theres_torture.html %}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="graphtrigger12">
                        {% include /Plots/Triggers/the_ending_is_sad.html %}
                    </div>
                </div>   
                
                <div class="col-md-4">
                    <img src="img/perso_cadre.png" alt="Horror Frame" class="img-responsive persotriggers2">
                </div>


                <div class="col-md-4">
                    <img src="img/frame2.png" alt="Horror Frame" class="img-responsive frametriggers7">
                </div>

                <div class="col-md-4">
                    <img src="img/frame3.png" alt="Horror Frame" class="img-responsive frametriggers8">
                </div>

                <div class="col-md-4">
                    <img src="img/frame4.png" alt="Horror Frame" class="img-responsive frametriggers9">
                </div>

                <div class="col-md-4">
                    <img src="img/frame5.png" alt="Horror Frame" class="img-responsive frametriggers10">
                </div>

                <div class="col-md-4">
                    <img src="img/frame2.png" alt="Horror Frame" class="img-responsive frametriggers11">
                </div>

                <div class="col-md-4">
                    <img src="img/frame3.png" alt="Horror Frame" class="img-responsive frametriggers12">
                </div>

                <div class="col-md-12 texttriggers8">
                    <p> Now we can compare the content between horror movies and other genres. How fascinating. It seems that 
                        horror movies contain a lot more deaths than others! Kids or not! And look at the third one! Ohh Jump scares
                        seems to be a very specific characteristic of horror movies! They are not so used in others.
                    </p>
                </div>

                <div class="col-md-12 texttriggers9">
                    <p> Here is an interesting point. Do you remember that we said religion was not so present in horror movies? Well 
                        it is even worse in other genres! So even if religion is not discussed in all horror movies, this genre is still
                        more focus on believes than others. It is also interesting to note that torture and sad endings are also more often 
                        presented in this so peculiar genre. 
                    </p>
                </div>

                <!-- Bouton de scroll -->
                <div class="scroll-button-container_triggers">
                    <a href="#Historical" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>    
        </div>
    </div>
</section>

<div class="section-divider"></div>