<!-- Tropes Section -->
<section id="Tropes" class="content-section text-center">
    <div class="Tropes-section">
        <div class="col-lg-8 col-lg-offset-2">
                <h2>Evolution of tropes</h2>
                <p>
                    Plots
                </p>
                <a href="#Historical" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
</section>

<div class="section-divider"></div>