<section id="World" class="content-section text-center">
    <div class="World-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>The Entry in the world of horror</h2>

                <div class="row align-items-center">
                    

                    <!-- FIG 1 -->
                    <!-- Text Container -->
                    <div class="col-md-12 text-content1">
                        <p> Let's start with an overview of horror movies around the world, shall we?</p>
                    </div>

                    <!-- Conteneur du graphe -->
                    <div class="col-md-4">
                        <div id='release_year_graph' class="graph-container">
                            {% include /Plots/Release_year_horror_vs_all.html %}
                        </div>
                    </div>                    

                    <!-- Image du cadre -->
                    <div class="col-md-4">
                        <img src="img/frame4.png" alt="Horror Frame" class="img-responsive frame-image1">
                    </div>

                    <!-- Image du personnage -->
                    <div class="col-md-4">
                        <img src="img/perso_gauche.png" alt="Horror World" class="img-responsive perso-image1">
                    </div>

                    <!-- Text Container -->
                    <div class="col-md-12 text-content2">
                        <p>Ah, yes, this is a fascinating one to start with. A graph that shows not just the rise of
                             cinema in general, but the peculiar rise of horror films. Do you see these peaks? Very 
                             interesting, indeed. But let me explain.
                            <strong>As you can see, the overall number of films has been on the up-and-up since the 
                                last century—no surprise there, as humanity loves its distractions, especially after 
                                a long day of... well, you know, surviving in this chaotic world. </strong>
                            Now, what you’ll notice is a very strong surge after the 90s, particularly in the realm 
                            of horror films. It's almost as if the genre is... feeding off something deeper in society.

                        </p>
                    </div>

                    <div class="col-md-12 text-content3">
                        <p> Take a look at the first spike: the <strong>early 70s</strong>, a time period marked by social 
                            unrest—Vietnam, civil rights movements, a world in turmoil. <strong>People turned to horror films 
                                to confront their fears about a changing world. </strong>
                        </p>
                    </div>

                    <div class="col-md-12 text-content33">
                        <p> 
                            Now, in the <strong>late 80s to early 90s</strong>, the Cold War was ending, but tension still hung 
                            in the air. <strong>Films played on the fear of the unknown, and slasher films reflected anxieties 
                                about a collapsing societal order.</strong>

                            And then, from 2002 to 2019, we see a massive rise in horror films, coinciding with the War on Terror, 
                            the 2008 economic crash, and general uncertainty. <strong>People sought comfort in films tapping into
                                collective dread about a chaotic, post-apocalyptic world. </strong>
                            Dracula, ever the observer of human nature, has seen these patterns unfold for centuries. <strong>Horror
                                 films are more than entertainment—they're a reflection of our deepest fears. </strong> And that,
                                  my dear visitor, is why Dracula is so fascinated by them.

                        </p>
                    </div>





                    <!-- FIG 2 -->
                    <!-- Text Container -->

                    <div class="col-md-12 text-content5">
                        <p> Ah, dear visitor, take a moment to behold this map—an illustration of horror’s reach across the 
                            globe. <strong>Now, before we delve deeper, tell me… where are you from? Your homeland must certainly
                                 have its own brand of terror, yes? </strong>
                            Notice the size of the circles? The larger they are, the more horror films have been produced in 
                            that region. It seems the western world—especially the <strong>United States</strong>—has been a 
                            dominant force in creating such <strong>unspeakable horrors</strong>. But, of course, that’s no surprise. 
                            <strong>Hollywood has always had a particular fondness for things that go bump in the night. </strong>
                             Then we have <strong>Europe. Germany, France, Italy</strong>... these places too are steeped in a rich 
                             history of horror. It’s interesting, though. Some regions are a little... underrepresented, aren’t they?
                              The east is still finding its footing in the world of cinematic terror.
                            Horror is certainly a global phenomenon, but as you can see, some areas are just beginning to indulge 
                            in the genre. <strong>There’s something almost chilling about seeing these areas slowly waking up to
                                 the world of fear and dread, don’t you think? </strong>

                        </p>
                    </div>

                    <!-- Conteneur du graphe -->
                    <div class="col-md-4">
                        <div id='map_graph' class="graph-container">
                            {% include /Plots/plotly_world_map.html %}
                        </div>
                    </div>    

                    <!-- Image du personnage -->
                    <div class="col-md-4">
                        <img src="img/perso_cadre.png" alt="Horror World" class="img-responsive perso-image2">
                    </div>

                    <!-- Image du cadre -->
                    <div class="col-md-4">
                        <img src="img/frame2.png" alt="Horror Frame" class="img-responsive frame-image2">
                    </div>





                    <!-- FIG 3 -->
                    <!-- Text Container -->

                    <div class="col-md-12 text-content4">
                        <p> Observe, dear guest, that in Asia, haunting and slasher themes dominate, capturing
                             both ghostly fears and violent chills. In Europe, North America, Oceania, South America,
                              and Africa, the slasher theme reigns supreme, a truly global trope, as my master notes 
                              with admiration. In the Middle East, the haunting theme holds sway, tied perhaps to their
                               storied supernatural folklore. Meanwhile, in Russia, the religion theme emerges most 
                               prominently, though my master insists I remind you that fewer films were considered here,
                                and so the data is delicate.
                            Most importantly, across all regions, Count Dracula has identified the top four recurring 
                            themes: <strong>slasher, haunting, psycopaths and religion themes, that stand as pillars 
                                of horror throughout the regions</strong>, much to my master's delight.
                            
                        </p>
                    </div>

                    <!-- Image du cadre -->
                    <div class="col-md-4">
                        <img src="img/frame5.png" alt="Horror Frame" class="img-responsive frame-image3">
                    </div>


                    <div class="col-md-4">
                        <img src="img/perso_droite.png" alt="Horror Frame" class="img-responsive perso3">
                    </div>        

                    <!-- Conteneur du graphe -->
                    <div class="col-md-8">
                        <div class="graph-container">
                            {% include /Plots/Themes_Across_Regions.html %}
                        </div>
                    </div>
                
                    <!-- FIG 4 -->
                    <!-- Text Container -->
                    <div class="col-md-12 text-content7">
                        <p> 
                            Ah, dear guest, allow me to walk you through yet another fascinating observation by my
                             master, Count Dracula: the evolution of horror themes over time. Before <strong>1950

                             </strong>, the trends were chaotic, fluctuating like the shadows of candlelight. 
                             However, from that point onward, the <strong>slasher</strong> theme began its reign
                              as the dominant force in horror — though, my master notes with a hint of sadness, 
                              it has shown a <strong>gradual decline since 2000</strong>. Take note, dear visitor,
                               of the psychopath</strong> theme. Once among the top four most chilling genres, 
                               it, too, has been waning in popularity</strong>, much to Dracula's disapproval. 
                               But behold! Since 2010, the <strong>haunting theme has experienced a remarkable 
                                surge</strong> — perhaps as audiences seek the thrill of ghostly presences once more.
                                In short, my master concludes that <strong>while the slasher genre has waned, smaller, 
                                    less popular themes have
                            begun to rise</strong>, quietly reclaiming their place in the dark tapestry of horror cinema."
                        </p>
                    </div>

                    <!-- Image du cadre -->
                    <div class="col-md-4">
                        <img src="img/frame2.png" alt="Horror Frame" class="img-responsive frame-image4">
                    </div>      

                    <!-- Conteneur du graphe -->
                    <div class="col-md-8">
                        <div id='themes_over_time' class="graph-container">
                            {% include /Plots/Themes_over_time.html %}
                        </div>
                    </div>
                </div>


                <!-- Bouton de scroll -->
                <div class="scroll-button-container_world">
                    <a href="#Titles" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section-divider"></div>